In [1]:
import pandas as pd 
import numpy as np
from incf.countryutils import transformations

In [2]:
medals = pd.read_csv('Olympic_Medals.csv')
IOC_cont = pd.read_csv('IOC to continent.csv')

In [3]:
#Columns Headers
medals.columns.values

array(['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'NOC',
       'Gender', 'Event', 'Event_gender', 'Medal'], dtype=object)

In [4]:
OM = medals[['NOC','Gender','Event_gender','Medal', 'Edition']]

In [5]:
#Columns Headers
OM.columns.values

array(['NOC', 'Gender', 'Event_gender', 'Medal', 'Edition'], dtype=object)

In [6]:
#Percentage Table that gives % of medals won by country that are won (male versus female)
coun_gend = OM.groupby(['Edition','NOC','Gender']).count()[['Medal']] \
              .unstack().fillna(0).apply(lambda x: 100*x/float(x.sum()), axis=1) \
              .stack().reset_index()
#Same as above but index has not been set and its a count not a %
t2 = OM.groupby(['Edition','NOC','Gender']).count()[['Medal']].unstack().fillna(0).apply(lambda x: 100*x/float(x.sum()), axis=1)
t2 = OM.groupby(['Edition','NOC','Gender']).count()[['Medal']].unstack().fillna(0)
# same as above but flatened into a df
event= t2.stack().reset_index()
event

      Edition  NOC Gender  Medal
0        1896  AUS    Men      2
1        1896  AUS  Women      0
2        1896  AUT    Men      5
3        1896  AUT  Women      0
4        1896  DEN    Men      6
5        1896  DEN  Women      0
6        1896  FRA    Men     11
7        1896  FRA  Women      0
8        1896  GBR    Men      7
9        1896  GBR  Women      0
10       1896  GER    Men     33
11       1896  GER  Women      0
12       1896  GRE    Men     52
13       1896  GRE  Women      0
14       1896  HUN    Men      6
15       1896  HUN  Women      0
16       1896  SUI    Men      3
17       1896  SUI  Women      0
18       1896  USA    Men     20
19       1896  USA  Women      0
20       1896  ZZX    Men      6
21       1896  ZZX  Women      0
22       1900  AUS    Men      5
23       1900  AUS  Women      0
24       1900  AUT    Men      6
25       1900  AUT  Women      0
26       1900  BEL    Men     39
27       1900  BEL  Women      0
28       1900  BOH    Men      1
29       1900  BOH  Women      1
...       ...  ...    ...    ...
2114     2008  SVK    Men      8
2115     2008  SVK  Women      2
2116     2008  SWE    Men      6
2117     2008  SWE  Women      1
2118     2008  THA    Men      2
2119     2008  THA  Women      2
2120     2008  TJK    Men      2
2121     2008  TJK  Women      0
2122     2008  TOG    Men      1
2123     2008  TOG  Women      0
2124     2008  TPE    Men      2
2125     2008  TPE  Women      2
2126     2008  TRI    Men      5
2127     2008  TRI  Women      0
2128     2008  TUN    Men      1
2129     2008  TUN  Women      0
2130     2008  TUR    Men      4
2131     2008  TUR  Women      4
2132     2008  UKR    Men     16
2133     2008  UKR  Women     15
2134     2008  USA    Men    153
2135     2008  USA  Women    162
2136     2008  UZB    Men      5
2137     2008  UZB  Women      1
2138     2008  VEN    Men      0
2139     2008  VEN  Women      1
2140     2008  VIE    Men      1
2141     2008  VIE  Women      0
2142     2008  ZIM    Men      0
2143     2008  ZIM  Women      4

[2144 rows x 4 columns]

In [9]:
#uses t2 above to count the total amount of events possible to win (male verus female
event_year = t2.groupby(level=0).apply(lambda x: x.sum()) \
               .apply(lambda x: 100*x/float(x.sum()), axis = 1) \
               .unstack().reset_index()
event_year = event_year.drop('level_0', axis=1)

#merges tables together to create one table
medal_table=pd.merge(coun_gend, event_year, how='inner', on=['Edition','Gender'])

#seperates all men from table into two tables and then merges with the seperation from the above tables 
male = pd.merge(event[event.Gender=='Men'],medal_table[medal_table.Gender == 'Men'],on=['Edition','NOC','Gender'])
women = pd.merge(event[event.Gender=='Women'],medal_table[medal_table.Gender == 'Women'],on=['Edition','NOC','Gender'])

#merge the male and female so they are side by side 
medal=pd.merge(male,women, on=["Edition","NOC"])
medal =medal.drop(['Gender_x','Gender_y'],axis = 1)

#change column Names
column_names = ['Year', 'NOC','MaleMC','Male%MOC','Male%MBE','FemaleMC','Female%MOC','Female%MBE']
medal.columns = column_names

#create weighted column 
mw=(medal['Male%MOC']/medal['Male%MBE']).fillna(0)
ww=(medal['Female%MOC']/medal['Female%MBE']).fillna(0)

medal['W%Male']= mw/(mw+ww)
medal['W%Female']=ww/(mw+ww)
medal= medal.drop(['Male%MOC','Female%MOC'],axis=1)
medal.to_csv('OlympicMedal.csv')
medal

      Year  NOC  MaleMC    Male%MBE  FemaleMC  Female%MBE    W%Male  W%Female
0     1896  AUS       2  100.000000         0    0.000000  1.000000  0.000000
1     1896  AUT       5  100.000000         0    0.000000  1.000000  0.000000
2     1896  DEN       6  100.000000         0    0.000000  1.000000  0.000000
3     1896  FRA      11  100.000000         0    0.000000  1.000000  0.000000
4     1896  GBR       7  100.000000         0    0.000000  1.000000  0.000000
5     1896  GER      33  100.000000         0    0.000000  1.000000  0.000000
6     1896  GRE      52  100.000000         0    0.000000  1.000000  0.000000
7     1896  HUN       6  100.000000         0    0.000000  1.000000  0.000000
8     1896  SUI       3  100.000000         0    0.000000  1.000000  0.000000
9     1896  USA      20  100.000000         0    0.000000  1.000000  0.000000
10    1896  ZZX       6  100.000000         0    0.000000  1.000000  0.000000
11    1900  AUS       5   97.851562         0    2.148438  1.000000  0.000000
12    1900  AUT       6   97.851562         0    2.148438  1.000000  0.000000
13    1900  BEL      39   97.851562         0    2.148438  1.000000  0.000000
14    1900  BOH       1   97.851562         1    2.148438  0.021484  0.978516
15    1900  CAN       2   97.851562         0    2.148438  1.000000  0.000000
16    1900  CUB       2   97.851562         0    2.148438  1.000000  0.000000
17    1900  DEN       6   97.851562         0    2.148438  1.000000  0.000000
18    1900  ESP       2   97.851562         0    2.148438  1.000000  0.000000
19    1900  FRA     184   97.851562         1    2.148438  0.801584  0.198416
20    1900  GBR      76   97.851562         2    2.148438  0.454842  0.545158
21    1900  GER      40   97.851562         0    2.148438  1.000000  0.000000
22    1900  HUN       5   97.851562         0    2.148438  1.000000  0.000000
23    1900  IND       2   97.851562         0    2.148438  1.000000  0.000000
24    1900  ITA       4   97.851562         0    2.148438  1.000000  0.000000
25    1900  NED      20   97.851562         0    2.148438  1.000000  0.000000
26    1900  NOR       9   97.851562         0    2.148438  1.000000  0.000000
27    1900  SUI      15   97.851562         0    2.148438  1.000000  0.000000
28    1900  SWE       1   97.851562         0    2.148438  1.000000  0.000000
29    1900  USA      51   97.851562         4    2.148438  0.218713  0.781287
...    ...  ...     ...         ...       ...         ...       ...       ...
1042  2008  NGR      19   54.358472         5   45.641528  0.761372  0.238628
1043  2008  NOR       5   54.358472        17   45.641528  0.198045  0.801955
1044  2008  NZL      11   54.358472         3   45.641528  0.754823  0.245177
1045  2008  PAN       1   54.358472         0   45.641528  1.000000  0.000000
1046  2008  POL      16   54.358472         4   45.641528  0.770566  0.229434
1047  2008  POR       1   54.358472         1   45.641528  0.456415  0.543585
1048  2008  PRK       1   54.358472         5   45.641528  0.143783  0.856217
1049  2008  ROU       1   54.358472        21   45.641528  0.038446  0.961554
1050  2008  RSA       1   54.358472         0   45.641528  1.000000  0.000000
1051  2008  RUS      63   54.358472        80   45.641528  0.398031  0.601969
1052  2008  SIN       0   54.358472         3   45.641528  0.000000  1.000000
1053  2008  SLO       3   54.358472         2   45.641528  0.557416  0.442584
1054  2008  SRB      15   54.358472         0   45.641528  1.000000  0.000000
1055  2008  SUD       1   54.358472         0   45.641528  1.000000  0.000000
1056  2008  SUI       9   54.358472         2   45.641528  0.790724  0.209276
1057  2008  SVK       8   54.358472         2   45.641528  0.770566  0.229434
1058  2008  SWE       6   54.358472         1   45.641528  0.834378  0.165622
1059  2008  THA       2   54.358472         2   45.641528  0.456415  0.543585
1060  2008  TJK       2   54.358472         0   45.641528  1.000000  0.000000
1061  2008  TOG       1   54.358472         0   45.641528  1.000000  0.000000
1062  2008  TPE       2   54.358472         2   45.641528  0.456415  0.543585
1063  2008  TRI       5   54.358472         0   45.641528  1.000000  0.000000
1064  2008  TUN       1   54.358472         0   45.641528  1.000000  0.000000
1065  2008  TUR       4   54.358472         4   45.641528  0.456415  0.543585
1066  2008  UKR      16   54.358472        15   45.641528  0.472467  0.527533
1067  2008  USA     153   54.358472       162   45.641528  0.442273  0.557727
1068  2008  UZB       5   54.358472         1   45.641528  0.807626  0.192374
1069  2008  VEN       0   54.358472         1   45.641528  0.000000  1.000000
1070  2008  VIE       1   54.358472         0   45.641528  1.000000  0.000000
1071  2008  ZIM       0   54.358472         4   45.641528  0.000000  1.000000

[1072 rows x 8 columns]

In [10]:
#Creating a test file for practing dimple
medal_2008 = medal[medal.Year == 2008]
medal_2008.to_csv("OM_2008.csv")

In [11]:
#uses t2 above to count the total amount of events possible to win (male verus female
event_year = t2.groupby(level=0).apply(lambda x: x.sum()) \
               .apply(lambda x: 100*x/float(x.sum()), axis = 1) \
               .unstack().reset_index()
event_year = event_year.drop('level_0', axis=1)

#merges tables together to create one table
medal_table=pd.merge(coun_gend, event_year, how='inner', on=['Edition','Gender'])

#seperates all men from table into two tables and then merges with the seperation from the above tables 
male = pd.merge(event[event.Gender=='Men'],medal_table[medal_table.Gender == 'Men'],on=['Edition','NOC','Gender'])
women = pd.merge(event[event.Gender=='Women'],medal_table[medal_table.Gender == 'Women'],on=['Edition','NOC','Gender'])

#merge the male and female so they are side by side 
medal=pd.merge(male,women, on=["Edition","NOC"])

medal.columns
#change column Names
column_names = ['Year', 'NOC','GenderM','MaleMC','Male%MOC','Male%MBE','GenderW','FemaleMC','Female%MOC','Female%MBE']
medal.columns = column_names
medal['TMC'] = medal['MaleMC']+medal['FemaleMC']
medal[['TMC']] = medal[['TMC']].astype(int)

#create weighted column 
mw=(medal['Male%MOC']/medal['Male%MBE']).fillna(0)
ww=(medal['Female%MOC']/medal['Female%MBE']).fillna(0)

medal['W%Male']= mw/(mw+ww)
medal['W%Female']=ww/(mw+ww)
medal['WMC%M']= medal['W%Male']*(medal['MaleMC']+medal['FemaleMC'])
medal['WMC%W']= medal['W%Female']*(medal['MaleMC']+medal['FemaleMC'])
medal= medal.drop(['Male%MOC','Female%MOC'],axis=1)



women = pd.concat([medal['Year'], medal['NOC'],medal['GenderW'],medal['FemaleMC'],
                   medal['Female%MBE'],medal['W%Female'], medal['WMC%W'], medal['TMC']],
                  axis=1,keys=['Year',"NOC",'Gender',"MC","MBE",'W%','W_MC','TMC'])
men = pd.concat([medal['Year'], medal['NOC'],medal['GenderM'],medal['MaleMC'],
                 medal['Male%MBE'], medal['W%Male'], medal['WMC%M'],medal['TMC']],
                  axis=1,keys=['Year',"NOC","Gender","MC","MBE",'W%','W_MC','TMC'])

medal = pd.concat([women,men])

medal.to_csv('Olympics_MC.csv')
medal

      Year  NOC Gender   MC        MBE        W%        W_MC  TMC
0     1896  AUS  Women    0   0.000000  0.000000    0.000000    2
1     1896  AUT  Women    0   0.000000  0.000000    0.000000    5
2     1896  DEN  Women    0   0.000000  0.000000    0.000000    6
3     1896  FRA  Women    0   0.000000  0.000000    0.000000   11
4     1896  GBR  Women    0   0.000000  0.000000    0.000000    7
5     1896  GER  Women    0   0.000000  0.000000    0.000000   33
6     1896  GRE  Women    0   0.000000  0.000000    0.000000   52
7     1896  HUN  Women    0   0.000000  0.000000    0.000000    6
8     1896  SUI  Women    0   0.000000  0.000000    0.000000    3
9     1896  USA  Women    0   0.000000  0.000000    0.000000   20
10    1896  ZZX  Women    0   0.000000  0.000000    0.000000    6
11    1900  AUS  Women    0   2.148438  0.000000    0.000000    5
12    1900  AUT  Women    0   2.148438  0.000000    0.000000    6
13    1900  BEL  Women    0   2.148438  0.000000    0.000000   39
14    1900  BOH  Women    1   2.148438  0.978516    1.957031    2
15    1900  CAN  Women    0   2.148438  0.000000    0.000000    2
16    1900  CUB  Women    0   2.148438  0.000000    0.000000    2
17    1900  DEN  Women    0   2.148438  0.000000    0.000000    6
18    1900  ESP  Women    0   2.148438  0.000000    0.000000    2
19    1900  FRA  Women    1   2.148438  0.198416   36.706931  185
20    1900  GBR  Women    2   2.148438  0.545158   42.522307   78
21    1900  GER  Women    0   2.148438  0.000000    0.000000   40
22    1900  HUN  Women    0   2.148438  0.000000    0.000000    5
23    1900  IND  Women    0   2.148438  0.000000    0.000000    2
24    1900  ITA  Women    0   2.148438  0.000000    0.000000    4
25    1900  NED  Women    0   2.148438  0.000000    0.000000   20
26    1900  NOR  Women    0   2.148438  0.000000    0.000000    9
27    1900  SUI  Women    0   2.148438  0.000000    0.000000   15
28    1900  SWE  Women    0   2.148438  0.000000    0.000000    1
29    1900  USA  Women    4   2.148438  0.781287   42.970760   55
...    ...  ...    ...  ...        ...       ...         ...  ...
1042  2008  NGR    Men   19  54.358472  0.761372   18.272938   24
1043  2008  NOR    Men    5  54.358472  0.198045    4.356991   22
1044  2008  NZL    Men   11  54.358472  0.754823   10.567516   14
1045  2008  PAN    Men    1  54.358472  1.000000    1.000000    1
1046  2008  POL    Men   16  54.358472  0.770566   15.411327   20
1047  2008  POR    Men    1  54.358472  0.456415    0.912831    2
1048  2008  PRK    Men    1  54.358472  0.143783    0.862697    6
1049  2008  ROU    Men    1  54.358472  0.038446    0.845805   22
1050  2008  RSA    Men    1  54.358472  1.000000    1.000000    1
1051  2008  RUS    Men   63  54.358472  0.398031   56.918490  143
1052  2008  SIN    Men    0  54.358472  0.000000    0.000000    3
1053  2008  SLO    Men    3  54.358472  0.557416    2.787081    5
1054  2008  SRB    Men   15  54.358472  1.000000   15.000000   15
1055  2008  SUD    Men    1  54.358472  1.000000    1.000000    1
1056  2008  SUI    Men    9  54.358472  0.790724    8.697964   11
1057  2008  SVK    Men    8  54.358472  0.770566    7.705663   10
1058  2008  SWE    Men    6  54.358472  0.834378    5.840645    7
1059  2008  THA    Men    2  54.358472  0.456415    1.825661    4
1060  2008  TJK    Men    2  54.358472  1.000000    2.000000    2
1061  2008  TOG    Men    1  54.358472  1.000000    1.000000    1
1062  2008  TPE    Men    2  54.358472  0.456415    1.825661    4
1063  2008  TRI    Men    5  54.358472  1.000000    5.000000    5
1064  2008  TUN    Men    1  54.358472  1.000000    1.000000    1
1065  2008  TUR    Men    4  54.358472  0.456415    3.651322    8
1066  2008  UKR    Men   16  54.358472  0.472467   14.646474   31
1067  2008  USA    Men  153  54.358472  0.442273  139.316101  315
1068  2008  UZB    Men    5  54.358472  0.807626    4.845754    6
1069  2008  VEN    Men    0  54.358472  0.000000    0.000000    1
1070  2008  VIE    Men    1  54.358472  1.000000    1.000000    1
1071  2008  ZIM    Men    0  54.358472  0.000000    0.000000    4

[2144 rows x 8 columns]

In [12]:
import matplotlib.pyplot as plt 
m = medal[medal['Gender'] == "Men"]
m = m[m["Year"]== 2008 ]
plt.scatter(m.TMC,m['W%'])
plt.show()
 
m = medal[medal['Gender'] == "Women"]
m = m[m["Year"]== 2008 ]
plt.scatter(m.TMC,m['W%'])
plt.show()

In [110]:
#This box makes a new file that only has countries in 2008
#it Also adds a column for continents 

medal_r = medal[medal['NOC'].isin(IOC_cont['NOC'])]
IOC_cont

#ADD cont to list 
cont_list = []
temp = "N/A"
for index,row in medal_r.iterrows():
    #try:
    #    cont = transformations.cn_to_ctn(row[1])
    #except: 
        try:
            temp = transformations.cc_to_cn(row[1])
        except:
            temp = "N/A"
        if temp != "N/A":
            cont = transformations.cn_to_ctn(temp)
        else:
            if row[1] == "BRU":
                cont = "Asia"
            elif row[1] == "GAM":
                cont = "Africa"
            elif row[1] == "ISV":
                cont = "North America"
            elif row[1] == "KOS":
                cont = "Europe"
            elif row[1] == "LBA":
                cont = "Africa"
            elif row[1] == "PLE":
                cont = "Asia"
            elif row[1] == "SSD":
                cont = "Europe"
            elif row[1] == "TPE":
                cont = "Asia"
            else:
                i = np.where(IOC_cont.NOC == row[1])[0][0]
                name = IOC_cont.iloc[i]['full_NOC']
                cont = transformations.cn_to_ctn(name)
                
        cont_list.append(cont)
    
medal_r['cont'] = cont_list

    
medal_r.to_csv('Olympics_MC.csv')

C:\Users\H.P\Anaconda2\lib\site-packages\ipykernel\__main__.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
OM.columns

Index([u'NOC', u'Gender', u'Event_gender', u'Medal', u'Edition'], dtype='object')

In [16]:
a= OM[OM.NOC == "USA"]
b= a[a.Edition == 2008]